.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form__button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    background-color: hsl(180, 90%, 10%);
    transition: transform 2s linear;    
}

.form__button:hover {
    background-color: hsl(180, 85%, 20%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 80%, 30%);
}