html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    line-height: 1.5;
    font-family: 'Merriweather', serif;
    text-align: left;
    word-break: break-word;
    background-color: rgb(245, 240, 240);
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}